@model MCMultiverse.Models.Application.MCServer
@using MCMultiverse.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MCServer</h4>
    <hr />
    @if (Model.BannerLarge != null)
    {
        @Html.DisplayFor(model => model.BannerLarge)
    }
    else
    {
        <img src="http://via.placeholder.com/468x60" />
    }
    @Html.DisplayNameFor(model => model.Title)
    @Html.DisplayFor(model => model.Title)
    @Html.DisplayNameFor(model => model.Description)
    @Html.DisplayFor(model => model.Description)
    @Html.DisplayNameFor(model => model.Address)
    @Html.DisplayFor(model => model.Address)

    <a href="https://localhost:44311/MCServers/Favorite/@Model.Id">Favorite</a>
    @*@Html.ActionLink("Favorite", "Favorite", "MCServers", Model.Id)*@
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
